$bg-banner-color: #86D3F4;
$font-roboto: Roboto;


.phone-input{
  padding: 70px 40px;

  &__title {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: $font-roboto;
    font-size: 26px;
    line-height: 30px;
  }

  &__number-value {
    margin-bottom: 15px;
    text-align: center;
    font-family: $font-roboto;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
  }

  &__sign-bottom {
    margin-bottom: 20px;
    text-align: center;
    font-family: $font-roboto;
    font-size: 14px;
    line-height: 16px;
  }



  &__check {

    height: 120px;

    &__checkbox {
      display: flex;
      justify-content: space-evenly;
      align-items:center;
      width: 284px;
      height: 52px;
        .btn {
          button {
            min-width: 40px;
            height: 40px;
            border: 2px solid black;
            cursor: pointer;
            background-color: $bg-banner-color;
          }
        }
        
        .description {
          width: 140px;
          height: 40px;
          text-align: center;
          font-family: $font-roboto;
          font-size: 14px;
          line-height: 16px;
          color: #565656;
        }
      }

    &__invalid {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 284px;
      height: 52px;
      color: red;
      font-family: Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
    }
  }




  &__submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;


      .btn-enable {
        width: 284px;
        height: 52px;
        cursor: pointer;
        border: 2px solid black;
        background-color: $bg-banner-color;
        font-family:$font-roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          opacity: 0.8;
        }
        &:active {
          background-color:black;
          color: white;
        }

      }
      .btn-disabled {
        width: 284px;
        height: 52px;
        border: 2px solid #565656;
        background-color: $bg-banner-color;
        font-family:$font-roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;

      }
    }
}